/* regole generali pagina */

*{
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f8f9;


}
/* regole della parte header */

header{
    background-color: white;
    padding: 2px 5px;
    margin: -10px;
}

#logotoboolist{
    height: 50px;
    width: 50px;
    margin: 2px 5px;
    vertical-align: middle;
}

#titolo {
    font-size: 30px;
}


/* regole della parte main */

.paginaprincipale{
        background-color: #f6f8f9;
}

.finestrabiancapiccola{
    background-color: white;
    margin: 40px 180px 1px;
    height: 50px;
}

.finestrabiancagrande {
    background-color: white;
    margin: -17px 180px;
}

.button1 {
    background-color: #46acf0;
    color: white;
    margin: 15px 0px 0px 35px;
    border-radius: 15%;
    display: inline-block;
    text-align: center;
    line-height: 2;
}

.button2 {
    background-color: #46acf0;
    color: white;
    border-radius: 15%;
    display: inline-block;
    text-align: center;
    line-height: 2;
    
    }

h2{
    margin-left: 35px;
}

.listtodo{
    margin-left: 35px;
}

.buttonedtiorial {
  background-color: #46acf0;
  color: white;
  border-radius: 50%;
  font-size: 9px;
  display: inline-block;
  width: 45px;
  height: 18px;
  text-align: center;
  line-height: 2;
}

.buttonq1goals{
    background-color: #9c72e4;
  color: white;
  border-radius: 50%;
  font-size: 9px;
  display: inline-block;
  width: 45px;
  height: 18px;
  text-align: center;
  line-height: 2;
}

.buttonrecruiting{
    background-color: #65c0a9;
    color: white;
    border-radius: 50%;
    font-size: 9px;
    display: inline-block;
    width: 45px;
    height: 18px;
    text-align: center;
    line-height: 2;
}

.buttonmobile{
    background-color:#f29e33;
    color: white;
    border-radius: 50%;
    font-size: 9px;
    display: inline-block;
    width: 45px;
    height: 18px;
    text-align: center;
    line-height: 2;
}

.buttonwebsite {
    background-color: #d863a1;
    color: white;
    border-radius: 50%;
    font-size: 9px;
    display: inline-block;
    width: 45px;
    height: 18px;
    text-align: center;
    line-height: 2;
}

.buttonsales {
    background-color:#b0c926;
    color: white;
    border-radius: 50%;
    font-size: 9px;
    display: inline-block;
    width: 45px;
    height: 18px;
    text-align: center;
    line-height: 2;
}
